@tailwind base;
@tailwind components;
@tailwind utilities;

/* Varsayılan renk tanımı */
:root {
  --main-color: #171717;
  --primary-dark: #352f44;
  --secondary-dark: #5c5470;
  --primary-light: #b9b4c7;
  --secondary-light: #faf0e6;
}

/* Light tema için varsayılan renkler */
:root[data-theme='light'] {
  --background: var(--secondary-light);
  --text: var(--primary-dark);
  --secondary-bg: var(--primary-light);
  --accent: var(--secondary-dark);
}

/* Dark tema için renkler */
:root[data-theme='dark'] {
  --background: var(--primary-dark);
  --text: var(--secondary-light);
  --secondary-bg: var(--secondary-dark);
  --accent: var(--primary-light);
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease-in-out;
  font-family: var(--font-open-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
}

h2 {
  font-size: 2.442rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
